/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
  min-height: 99%;
}
body {
  margin: 0 0 64px 0 !important; /* Margin bottom by footer height */
}
